@tailwind base;
@tailwind components;
@tailwind utilities;

#page-body {
    @apply pt-20 bg-white text-mitre-black min-h-screen
}

#app {
    font-family: "Roboto Condensed", sans-serif;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.p-menuitem-link, .p-tieredmenu {
    @apply bg-mitre-navy uppercase text-white;
    font-family: "Roboto Condensed", sans-serif;
}
.p-menuitem-text {
    @apply my-2
}
