@tailwind base;
@tailwind components;
@tailwind utilities;

#page-body {
    @apply mt-20
}

#app {
    font-family: "Roboto Condensed", sans-serif;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.p-menuitem-link {
    @apply bg-mitre-primary-purple uppercase;
    font-family: "Roboto Condensed", sans-serif;
}
.p-menuitem-text {
    @apply my-2
}
/* .calculator-list {
    @apply 
} */
.calculator-list .list-item {
    @apply border-mitre-black border-[1px] -mt-[1px] px-5 py-3 text-lg cursor-pointer
}
.calculator-list .list-item.active {
    @apply bg-mitre-navy text-white
}
.btn-primary {
    @apply w-full p-4 text-center text-lg bg-mitre-navy text-white uppercase
}
.calculator-details {
    @apply border-mitre-black border-[1px]
}
.calculator-details .container-header {
    @apply w-full bg-mitre-navy text-white px-5 py-3 text-lg
}
.calculator-details .container-body {
    @apply p-4 overflow-scroll
}
.calculator-details .container-body h3 {
    @apply uppercase font-bold text-lg
}
.calculator-details .container-body h4 {
    @apply uppercase font-bold
}

.p-accordion-tab {
    @apply rounded-none shadow-none border-[1px] border-mitre-black -mt-[1px]
}
.p-accordion-header {
    @apply uppercase
}
.p-accordion-tab .p-highlight, .p-highlight .p-accordion-header-link {
    @apply bg-mitre-navy text-white
}